.ciudad{
    display: flex;
    color:white;
    height: 500px;
    font-weight: bold;
    font-size: 72px;
    line-height: 84px;
    align-items: center;
    text-align: center;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: fit-content;
    div{
    width: fit-content;
    height: 84px;
    }
}

.container{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}