#logoHenry {
  margin-right: 20px;
}
.navbar {
  margin-top: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2em;
  padding-right: 2em;
}

.navbar-brand{
  color:honeydew;
}
.navbar-about{
  text-decoration: none;
  color:honeydew;
  font-style: none;
}